<%# app/views/doctors/new.html.erb %>
<h1>Add New Doctor</h1>

<%= form_with model: @doctor do |form| %>
  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input' %>
  </div>
  <div class="field">
    <%= form.label :practice, class: 'label' %>
    <%= form.text_field :practice, class: 'input' %>
  </div>
  <div class="field">
    <%= form.label :speciality, class: 'label' %>
    <%= form.text_field :speciality, class: 'input' %>
  </div>
  <div class="field">
    <%= form.label :email, class: 'label' %>
    <%= form.email_field :email, class: 'input' %>
  </div>
  <div class="field">
    <%= form.label :phone, class: 'label' %>
    <%= form.phone_field :phone, class: 'input' %>
  </div>
  <div class="field">
    <%= form.label :fax_number, class: 'label' %>
    <%= form.phone_field :fax_number, class: 'input' %>
  </div>
  <div class="field">
    <%= form.label :address, class: 'label' %>
    <%= form.text_field :address, class: 'input' %>
  </div>

  <%= form.submit "Create Doctor" %>
<% end %>
<%= link_to "Cancel", doctors_path %>