<%# app/views/patients/show.html.erb %>
<div class="content">
  <h1 class="title"><%= @patient.name %></h1>

  <div class="buttons">
    <%= link_to "Edit", edit_patient_path(@patient), class: "button is-warning" %>
    <%= button_to "Delete", @patient, method: :delete, class: "button is-danger",
          data: { turbo_confirm: "Delete #{@patient.name}? This will also delete all their doctors." } %>
  </div>

  <div class="columns is-multiline">

    <%# Doctors %>
    <div class="column">
      <div class="box">
        <div class="level">
          <div class="level-left">
            <h2 class="title is-4">Doctors</h2>
          </div>
          <div class="level-right">
            <%= link_to "Add Doctor", new_patient_doctor_path(@patient), class: "button is-primary is-small" %>
          </div>
        </div>
        <% if @patient.doctors.any? %>
          <% @patient.doctors.each do |doctor| %>
            <div class="box">
              <div class="level">
                <div class="level-left">
                  <div>
                    <p class="has-text-weight-bold"><%= doctor.name %></p>
                    <p class="is-size-7"><%= doctor.practice %></p>
                    <p class="is-size-7 has-text-grey"><%= doctor.speciality %></p>
                  </div>
                </div>
                <div class="level-right">
                  <%= link_to "View", patient_doctor_path(@patient, doctor), class: "button is-info is-small" %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="has-text-grey">No doctors added yet.</p>
        <% end %>
      </div>
    </div>

    <%# Medications (placeholder) %>
    <div class="column">
      <div class="box">
        <h2 class="title is-4">Medications</h2>
        <p class="has-text-grey">Coming soon.</p>
      </div>
    </div>

    <%# Visits (placeholder) %>
    <div class="column">
      <div class="box">
        <h2 class="title is-4">Visits</h2>
        <p class="has-text-grey">Coming soon.</p>
      </div>
    </div>

  </div>

  <%= link_to "Back to Patients", patients_path, class: "button is-light" %>
</div>
