<%# app/views/doctors/index.html.erb %>
<div class="content">
  <h1 class='block title'>Doctors for <%= @patient.name %></h1>
  <div class='box' id="doctors-list">
    <% @doctors.each do |doctor| %>
      <div class='box'>
        <h2><%= doctor.name %></h2>
        <p><strong>Speciality:</strong> <%= doctor.speciality %></p>
        <p><strong>Email:</strong> <%= doctor.email %></p>
        <%= link_to "View Details", patient_doctor_path(@patient, doctor), class: "button is-info" %>
      </div>
    <% end %>
  </div>
  <%= link_to "Add New Doctor", new_patient_doctor_path(@patient), class: "button is-primary" %>
  <%= link_to "Back to Patient", @patient, class: "button is-light" %>
</div>
