<%# app/views/doctors/index.html.erb %>
<h1>Doctors</h1>
<%= link_to "Add New Doctor", new_doctor_path %>
<div id="doctors-list">
  <% @doctors.each do |doctor| %>
    <div class="doctor-card">
      <h2><%= doctor.name %></h2>
      <a href="/doctors/<%= doctor.id %>">View Details</a>
      <p><strong>Speciality:</strong> <%= doctor.speciality %></p>
      <p><strong>Email:</strong> <%= doctor.email %></p>
    </div>
  <% end %>
</div>
